REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379
WEBHOOK_URL=http://localhost:8080/api/webhooks
JWT_SECRET=secret
REDIS_IN_CHANNEL=laravel_database_gsd
REDIS_OUT_CHANNEL=laravel_database_gsd
DEV_MODE=true
